# Токен вашего Telegram-бота (от @BotFather)
TELEGRAM_BOT_TOKEN=123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ

# ID вашей Google Таблицы (находится в URL документа)
GOOGLE_SPREADSHEET_ID=your_spreadsheet_id_here

# Ваш собственный Telegram ID (чтобы вы могли добавить себя в Whitelist администраторов через скрипт)
# Узнать свой ID можно у бота @userinfobot
ADMIN_TELEGRAM_ID=000000000

# Переменные могут настраиваться в Firebase: 
# firebase functions:secrets:set TELEGRAM_BOT_TOKEN
